<!-- 
	날짜 : 2023.02.11
	이름 : 조수빈
	내용 : 카테고리 및 하위 카테고리 보여주는 aside 화면 출력 및 기능 구현
 -->
 <script>
 window.onload = () => {
	let targetUrl = '';

	 document.querySelectorAll('a').forEach(link => {
		 link.addEventListener('click', (e) =>{
			 // a 태그의 href 값을 불러와서 세번째 '/' 이후의 값을 targetUrl 변수에 저장
			 let href = e.target.href;
			 targetUrl = href.substring(href.indexOf('/', 8));
			 // 값이 잘 들어오는지 확인('click'을 'mouseover'로 바꿔서 확인)
			 console.log(targetUrl);
		 });
	 });
	 
	 let xhr = new XMLHttpRequest();
	 xhr.open("GET", targetUrl);
	 //xhr.responseType = 'json';
	 xhr.send();
 };
	 
 
 </script>
<main id="product">
	<aside>
	    <ul class="category">
	        <li>
	            <i class="fa-solid fa-bars"></i>
	            카테고리
	        </li>
	        <li>
	            <a th:href="@{/product/list?cate1=11&cate2=10&sort=1}">
	                <i class="fa-solid fa-shirt"></i>
	                패션·의류·뷰티
	            </a>
	            <ol>
	                <li>
	                    <a th:href="@{/product/list?cate1=11&cate2=11&sort=1}">남성의류</a>
	                </li>
	                <li>
	                    <a th:href="@{/product/list?cate1=11&cate2=10&sort=1}">여성의류</a>
	                </li>
	                <li>
	                    <a th:href="@{/product/list?cate1=11&cate2=14&sort=1}">잡화</a>
	                </li>
	                <li>
	                    <a th:href="@{/product/list?cate1=11&cate2=16&sort=1}">뷰티</a>
	                </li>
	            </ol>
	        </li>
	        <li>
	            <a th:href="@{/product/list?cate1=15&cate2=10&sort=1}" >
	                <i class="fa-solid fa-laptop"></i>
	                가전·디지털
	            </a>
	            <ol>
	                <li>
	                    <a th:href="@{/product/list?cate1=15&cate2=10&sort=1}">노트북/PC</a>
	                </li>
	                <li>
	                    <a th:href="@{/product/list?cate1=15&cate2=16&sort=1}">가전</a>
	                </li>
	                <li>
	                    <a th:href="@{/product/list?cate1=15&cate2=13&sort=1}">휴대폰</a>
	                </li>
	                <li>
	                    <a th:href="@{/product/list?cate1=15&cate2=12&sort=1}">기타</a>
	                </li>
	            </ol>
	        </li>
	        <li>
	            <a th:href="@{/product/list?cate1=13&cate2=10&sort=1}">
	                <i class="fa-solid fa-utensils"></i>
	                식품·생필품
	            </a>
	            <ol>
	                <li>
	                    <a th:href="@{/product/list?cate1=13&cate2=10&sort=1}">신선식품</a>
	                </li>
	                <li>
	                    <a th:href="@{/product/list?cate1=13&cate2=11&sort=1}">가공식품</a>
	                </li>
	                <li>
	                    <a th:href="@{/product/list?cate1=13&cate2=12&sort=1}">건강식품</a>
	                </li>
	                <li>
	                    <a th:href="@{/product/list?cate1=13&cate2=14&sort=1}">생필품</a>
	                </li>
	            </ol>
	        </li>
	        <li>
	            <a th:href="@{/product/list?cate1=14&cate2=10&sort=1}">
	                <i class="fa-solid fa-house-chimney"></i>
	                홈·문구·취미
	            </a>
	            <ol>
	                <li>
	                    <a th:href="@{/product/list?cate1=14&cate2=10&sort=1}">가구/DIY</a>
	                </li>
	                <li>
	                    <a th:href="@{/product/list?cate1=14&cate2=11&sort=1}">침구·커튼</a>
	                </li>
	                <li>
	                    <a th:href="@{/product/list?cate1=14&cate2=13&sort=1}">생활용품</a>
	                </li>
	                <li>
	                    <a th:href="@{/product/list?cate1=14&cate2=15&sort=1}">사무용품</a>
	                </li>
	            </ol>
	        </li>
	    </ul>
	</aside>
