<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>cart</title>
    <script src="https://kit.fontawesome.com/78ddb08b0c.css" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/product.css?v=1}"/>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="top">
                <div>
                    <a th:href="@{/member/login}">로그인</a>
                    <a th:href="@{/member/register}">회원가입</a>
                    <a th:href="@{/my/index}">마이페이지</a>
                    <a th:href="@{/product/cart}">
                        <i class="fa fa-shopping-cart"></i>
                        장바구니</a>
                </div>
            </div>
            <div class="logo">
                <div>
                    <a th:href="@{/index}">
                        <img th:src="@{/img/header_logo.png}" alt="logo">
                    </a>
                    <form>
                        <input type="text">
                        <button>
                            <a href="#">
                                <i class="fa fa-search fa-sm"></i>
                            </a>
                        </button>
                    </form>
                </div>
            </div>
            <div class="menu">
                <div>
                    <ul>
                        <li>
                            <a th:href="@{/product/list}">히트상품</a>
                        </li>
                        <li>
                            <a th:href="@{/product/list}">추천상품</a>
                        </li>
                        <li>
                            <a th:href="@{/product/list}">최신상품</a>
                        </li>
                        <li>
                            <a th:href="@{/product/list}">인기상품</a>
                        </li>
                        <li>
                            <a th:href="@{/product/list}">할인상품</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#">쿠폰존</a>
                        </li>
                        <li>
                            <a href="#">사용후기</a>
                        </li>
                        <li>
                            <a href="#">개인결제</a>
                        </li>
                        <li>
                            <a href="#">고객센터</a>
                        </li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>