<th:block th:include="@{company/_header.html}"/>

        <main id="promote">
            <div class="cover">
                <div>
                    <h1>홍보채널</h1>
                    <p>
                        미디어 속 KMARKET의 영상을
                        <br>
                        소개해드립니다.
                    </p>
                </div>
            </div>
            <section class="content">
                <article>
                    <iframe width="560" height="315" th:src="@{https://www.youtube-nocookie.com/embed/nhAR2-WIM-I}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <h3>코딩할때 듣기 좋은 노래</h3>
                    <p>3 hours playlist • lofi type beat • beats to relax • study music</p>
                </article>
                <article>
                    <iframe width="560" height="315" th:src="@{https://www.youtube-nocookie.com/embed/4LIt_ICJyjk}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <h3>코딩 / 과제 할 때 집중 해서 듣기 좋은 음악</h3>
                    <p>Relaxing lofi beats to study music • Lofi Coding Beats</p>
                </article>
                <article>
                    <iframe width="560" height="315" th:src="@{https://www.youtube-nocookie.com/embed/Xc1Le3CSdrM}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <h3>코딩할때 듣기 좋은 노래</h3>
                    <p>3 hour playlist | Lofi hip hop mix ~ jazzhop ~ relax beats</p>
                </article>
                <article>
                    <iframe width="560" height="315" th:src="@{https://www.youtube-nocookie.com/embed/F9NkdprdcdQ}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <h3>코딩할때 듣기 좋은 노래</h3>
                    <p>lofi type beat • 3 hours playlist</p>
                </article>
                <article>
                    <iframe width="560" height="315" th:src="@{https://www.youtube-nocookie.com/embed/-3CDcU-eco8}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <h3>코딩 / 과제 할 때 집중 해서 듣기 좋은 음악</h3>
                    <p>3 hour playlist • chill lofi beats to code/relax to</p>
                </article>
            </section>
        </main>
        
<th:block th:include="@{company/_footer.html}"/>