<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Kmarket2</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/star-rating-svg.css}">
    <link rel="stylesheet" th:href="@{/css/my.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script th:src="@{/js/jquery.star-rating-svg.min.js}"></script>
	<script th:src="@{/js/popup.js}"></script>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="top">
                <div>
                    <th:block sec:authorize="hasAnyRole('5','6','7')">
                    	<a><span class="nick" sec:authentication="principal.user.uid">길동이</span>님 반갑습니다.</a>
                    	<a th:href="@{/admin/index}">관리자</a>
                    	<a th:href="@{/member/logout}">로그아웃</a>
	                    <a th:href="@{/my/home}">마이페이지</a>
	                    <a th:href="@{/product/cart}">
	                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
	                        장바구니
	                    </a>
                    </th:block>
                    <th:block sec:authorize="hasAnyRole('1','2','3','4')">
                    	<a><span class="nick" sec:authentication="principal.user.uid">길동이</span>님 반갑습니다.</a>
                    	<a th:href="@{/member/logout}">로그아웃</a>
	                    <a th:href="@{/my/home}">마이페이지</a>
	                    <a th:href="@{/product/cart}">
	                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
	                        장바구니
	                    </a>
                    </th:block>
                </div>
            </div>
            <div class="logo">
                <div>
                    <a th:href="@{/index}">
                        <img th:src="@{/img/header_logo.png}" alt="logo">
                    </a>
                    <form action="#">
                        <input type="text">
                        <button>
                            <a href="#">
                                <i class="fa fa-search fa-sm"></i>
                            </a>
                        </button>
                    </form>
                </div>
            </div>
        </header>
        <div id="my">
            <nav>
                <div>
                    <a href="#">
                        <img th:src="@{/img/my_logo.jpg}" alt="나의쇼핑정보">
                    </a>
                    <ol>
                        <li>
                            <a href="#">
                                주문·배송
                                <span class="delivery">1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                할인쿠폰
                                <span class="coupon">1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                포인트
                                <span class="point">1,000</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                문의내역
                                <span class="qna">1</span>
                            </a>
                        </li>
                    </ol>
                </div>
            </nav>