<th:block th:include="@{my/_header.html}"/>
            <div class="review">
                <ul>
                    <span class="menu_else"></span>

                   	<li th:classappend="${group} eq 'ordered'?'on':'off'">
                        <a th:href="@{/my/ordered?group=ordered}">전체주문내역</a>
                    </li>
                    <li th:classappend="${group} eq 'point'?'on':'off'">
                        <a th:href="@{/my/point?group=point}">포인트내역</a>
                    </li>
                    <li th:classappend="${group} eq 'coupon'?'on':'off'">
                        <a th:href="@{/my/coupon?group=coupon}">쿠폰</a>
                    </li>
                    <li th:classappend="${group} eq 'review'?'on':'off'">
                        <a th:href="@{/my/review?group=review}">나의리뷰</a>
                    </li>
                    <li th:classappend="${group} eq 'qna'?'on':'off'">
                        <a th:href="@{/my/qna?group=qna}">문의하기</a>
                    </li>
                    <li th:classappend="${group} eq 'info'?'on':'off'">
                        <a th:href="@{/my/info?group=info}">나의설정</a>
                    </li>
                </ul>
                <section>
                    <a href="#">
                        <img src="../img/my_banner2.png" alt="패션, 타운 하나로 끝" class="banner">
                    </a>
                    <article>
                        <h3>나의 리뷰</h3>
                        <table border="0">
                            <tr>
                                <th>번호</th>
                                <th>상품명</th>
                                <th>내용</th>
                                <th>평점</th>
                                <th>작성일</th>
                            </tr>
                            <tr th:each="review:${reviews}">
                                <td class="no">[[${review.revNo}]]</td>
                                <td class="prodName">
                                    <a th:href="@{/product/view(prodNo=${review.prodNo},cate1=${review.prodCate1},cate2=${review.prodCate2})}">[[${review.prodName}]]</a>
                                </td>
                                <td class="content">[[${review.content}]]</td>
                                <td class="score">
                                    <span th:if="${review.rating == 1}" class="rating star1"></span>
                                    <span th:if="${review.rating == 2}" class="rating star2"></span>
                                    <span th:if="${review.rating == 3}" class="rating star3"></span>
                                    <span th:if="${review.rating == 4}" class="rating star4"></span>
                                    <span th:if="${review.rating == 5}" class="rating star5"></span>
                                </td>
                                <td class="date">[[${review.rdate.substring(2, 10)}]]</td>
                            </tr>
                        </table>
                        <p class="page">
                        	<th:block th:if="${pageGroupStart > 1}">
                            	<a th:href="@{/my/review(pg=${currentPage - 1})}" class="prev">이전</a>
                            </th:block>
                            <th:block th:each="num,iterStat : ${#numbers.sequence(pageGroupStart, pageGroupEnd)}">
                            	<a th:href="@{/my/review(pg=${num},group='review')}" th:class="${num} eq ${currentPage} ? 'num on':'num'">[[${num}]]</a>
                            </th:block>
                            <th:block th:if="${pageGroupEnd < lastPageNum}">
                            <a th:href="@{/my/review(pg=${currentPage+ 1})}" class="next">다음</a>
                            </th:block>
                        </p>
                    </article>
                </section>
            </div>
<th:block th:include="@{my/_footer.html}"/>
    </div>
</body>
</html>