<th:block th:include="@{admin/_header.html}"/>
<script>
$(function() {
	$('.replySub').click(function(e) {
		let content = $('.reply').val();
		let no = $('input[name=no]').val();
		let uid = $('input[name=uid]').val();
		let group = $('input[name=group]').val();
		let cate = $('input[name=cate]').val();
		let cate2 = $('input[name=cate2]').val();
		let jsonData = {
				"content":content,
				"no":no,
				"uid":uid
				};
		$.ajax({
			url:"/Kmarket2/admin/cs/view",
			method:"post",
			data:jsonData,
			dateType:"json",
			success:function(data){
				if(data.result != 0){
					location.href = "/Kmarket2/admin/cs/list?group="+group+"&cate="+cate+"&cate2"+cate2;
				}
			}
		});
		return false;
	});
});
</script>
<section id="csView">
	<nav th:if="${group.equals('notice')}">
        <h3>공지사항 보기</h3>
        <p>HOME > 고객센터 ><strong>공지사항</strong></p>
    </nav>
	<nav th:if="${group.equals('faq')}">
        <h3>자주묻는질문 보기</h3>
        <p>HOME > 고객센터 ><strong>자주묻는질문</strong></p>
    </nav>
	<nav th:if="${group.equals('qna')}">
        <h3>문의하기 보기</h3>
        <p>HOME > 고객센터 ><strong>문의하기</strong></p>
    </nav>
    <table>
    	<tr>
    		<td>유형1</td>
			<th:block th:if="${group.equals('notice')}">
	    	<td th:each="ca : ${cates}" th:value="${ca.key}" th:if="${ca.key == article.cate}" >[[${ca.value}]]</td>
	    	</th:block>
	    	<th:block th:unless="${group.equals('notice')}">
	    	<td th:each="ca : ${cates}" th:value="${ca.key}" th:if="${ca.key == article.cate}" >[[${ca.value}]]</td>
	    	</th:block>
    	</tr>
    	<tr th:unless="${group.equals('notice')}">
    	<td>유형2</td>
    	<th:block th:each="ca2 : ${artiCate2s}">
			<td th:if="${article.cate.equals(ca2.cate) && article.cate2.equals(ca2.cate2)}" colspan="1">[[${ca2.c2Name}]]</td>
    	</th:block>
    	</tr>
    	<tr>
    		<td>제목</td>
    		<td>[[${article.title}]]</td>
    	</tr>
    	<tr>
    		<td>내용</td>
    		<td class="content">[[${article.content}]]</td>
    	</tr>
		<tr th:if="${group.equals('qna') && article.comment == 0}">
			<td>답변</td>
			<td><textarea class="reply"></textarea></td>
		</tr>
		<tr th:if="${group.equals('qna') && article.comment != 0}">
			<td>답변</td>
			<td>[[${reply.content}]]</td>
		</tr>
    </table>
    <div>
    	<a th:href="@{/admin/cs/list(group=${group})}" class="btn btnList">목록</a>
   		<a th:if="${group.equals('notice') || group.equals('faq')}" th:href="@{/admin/cs/modify(group=${group},no=${article.no})}" class="btn btnMod">수정</a>
   		<a th:if="${group.equals('qna') && article.comment == 0}" href="#" class="btn btnList replySub">답변등록</a>
    	<a th:href="@{/admin/cs/delete(group=${group},no=${article.no})}" class="btn btnDel2">삭제</a>
    </div>
    <input type="hidden" name="no" th:value="${article.no}">
    <input type="hidden" name="uid" value="관리자">
    <input type="hidden" name="group" th:value="${group}">
    <input type="hidden" name="cate" th:value="${article.cate}">
    <input type="hidden" name="cate2" th:value="${article.cate2}">
</section>
<th:block th:include="@{admin/_footer.html}"/>